# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ IDEA Plugin project files
/.intellijPlatform/self-update.lock

# Ignore kotlin compiler files
/.kotlin/
